
body {
  background-color: #0093e7 !important;
  font-family: sans-serif;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

/* Home.js Styling */

#containerHome {
  text-align: center;
  margin: 20px;
}

#homePage {
  margin: auto;
}

#homeDescription > h2 {
  text-align: -webkit-center;
}

.btn-sm {
  margin-left: 2px;
}

.card {
  margin-top: 2px;
  padding: 10px;
}

div.card-header {
  background-color: white;
}

#progressSection {
  display: inline-block;
  float: right;
}

#dueDateSection {
  display: inline-block;
  float: right;
  clear: right;
  text-align: center;
}

#dropdown-basic-button {
  float: left;
}

.btn-primary {
  float: right;
  margin-right: 0px;
  margin-top: 10px;
  display:inline-block;
}


#container > div > div > div.col-9.theList {
  padding-left: 0px;
  padding-right: 0px;
}

#cardButtonSection {
  margin-top: 5px;
  margin-bottom: 5px;
}

#cardButtonRight {
   display: inline-block;
   float: right;
}

#cardButtonLeft {
   display: inline-block;
   float: left;
}

#cardButtonRight > button {
  margin-bottom: 2px;
  margin-top: 2px;
  margin: 2px;
}

#cardButtonLeft > button {
  margin-bottom: 2px;
  margin-top: 2px;
  margin: 2px;
}

input:focus {
  outline: none;
}

/* Navigation Styling */

.nav {
  margin-bottom: 25px !important;
  /*position: fixed;*/
}

.nav > .navbar-nav {
  display: inline-block;
  flex-direction: row;
}

.nav li a {
  color: white;
}

#profileNavButton {
  float: right;
}

#container > div > nav > div > div > div > a {
  color: white;
}


#container > div > nav > div > div > div > a:hover {
  color: 	#E8E8E8;
}


#container > div > nav > div > div > div{
  margin: 15px;
}

.nav li {
  margin: 15px;
}

.card {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

/* Login Card */

#signUpCard {
  width: 30%;
  margin: auto;
}

#signUpSubmit {
  width: 100%;
}
